*{
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}

body{
  background: silver;
}

.main{
 margin: 10px 10px 10px 10px;
}

.header{
  background: #162b52;
  display: flex;
  border-radius: 10px;
  height: 50px;
  align-items: center;
  color: #50baec;
  justify-content: space-between;
}

.arrow{
  margin-left: 10px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  text-align: center;
  border: 1px solid white;
  padding: 3px;
  border-radius: 99px;
  background: transparent;
}

.container{
  border-radius: 10px;
  background: #101f3d;
  width: 100%;
  height: 800px;
}

.title{
  margin-left: -40px;
  font-size: 18px;
}

.middle{
  text-align: center;
}

.middle input{
  width: 320px;
  padding-left: 10px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
  outline: none;
  margin-top: 10px;
  border-radius: 25px;
  height: 45px;
}

::placeholder{
  color: white;
  font-size: 16px;
}

.type{
  padding: 10px;
  margin-top: 10px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.allMovie{
  display: flex;
  align-items: center;
}

.arrow-right{
  color: grey;
  margin-left: -4px;
}

.movies{
  background: black;
  width: 110px;
  height: 170px;
}

.allMovie p{
  color: grey;
}

.movie-img img{
  width: 110px;
  height: 130px;
  border-radius: 4px 4px 0px 0px;
}

.movie-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  color: white;
}

.movie-type h4{
  font-weight: 400;
  color: #50baec;
  font-size: 14px;
}

.movie-name p{
  padding: 2px;
  color: lightgreen;
  text-align: center;
  width: 20px;
  background-color: #101f3d;
  border: 1px solid white;
  font-size: 11px;
}

.screen{
  justify-content: space-around;
  display: flex;
  padding-left: 11px;
  padding-right: 11px;
}

.movie-name .blockbuster{
  color: orange;
}
