*{
  margin: 0;
  font-family: sans-serif;
}

body{
  background: seashell;
}

h1{
  margin-top: 10px;
  text-align: center;
  font-size: 44px;
}

.main{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  padding: 10px;
}

.main a{
  color: grey;
  text-decoration: none;
  font-size: 24px;
}

@media(width<400px){
  h1{
    font-size: 30px;
  }
  .main a{
    font-size: 13px;
  }
}


