* {
  margin: 0;
  font-family: sans-serif;
}

body {
  background: #06070e;
}

/*Css for Main content*/
.project{
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: sans-serif;
  text-align: center;
  font-size: 44px;
  color: seashell;
  /*background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  background: linear-gradient(135deg, silver 0%, #FF7B00 25%,
    #F4A261 50%, #eee 75%, #F3722C 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: animate 8s linear infinite;
}

.main {
  /*margin-top: 20px;
  justify-content: space-between;
  padding: 10px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main a {
  text-decoration: none;
  color: #F4F3EE;
  font-weight: 700;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 38%; /* Adjust the width as needed */
  box-sizing: border-box;
}
/*.main a{
  color: grey;
  text-decoration: none;
  font-size: 24px;
}*/

#challenge{
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: sans-serif;
  text-align: center;
  font-size: 44px;
  animation: neon 1s ease infinite;
}

@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #f5efcb;
    }
    50% {
        text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: #eda0d3;
    }
}

@media (width<600px) {
  .project {
    font-size: 26px;
  }
  #challenge{
    font-size: 26px;
  }
  .main a {
    font-size: 17px;
  }
}

@media (width<400px) {
  #challenge {
    font-size: 30px;
  }
  .project{
    font-size: 30px;
  }
  .main a {
    font-size: 12px;
  }
}

@media (width<300px) {
  .project {
    font-size: 26px;
  }
  #challenge{
    font-size: 26px;
  }
  .main a {
    font-size: 11px;
    font-weight: 700;
  }
}

@keyframes animate {
  to{
    background-position: 400%;
  }
}


/*Css for Footer*/

.footer {
  margin-top: 80px;
  padding: 35px 6% 55px;
}

.footer-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3.5rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-left p {
  font-family: sans-serif;
  color: grey;
  font-size: 17px;
}

.footer-middle {
  display: flex;
  gap: 35px;
}

.footer-middle-div div {
  display: flex;
  flex-direction: column;
  color: silver;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 20px;
}

.footer-middle-div div p{
  margin-top: 7px;
}

.footer-right h3 {
  color: white;
  margin-bottom: 20px;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-right input {
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
}

::placeholder {
  color: grey;
  font-size: 16px;
  padding-left: 3px;
}

.footer-right a {
  text-decoration: none;
  font-size: 20px;
  background: coral;
  text-align: center;
  padding: 10px;
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

h3 {
  font-size: 23px;
  color: white;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 0px;
}

.icons img {
  border-radius: 4px;
}

@media (width<860px) {
  .footer-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 3.5rem;
  }
}

@media (width<789px) {
  .footer-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2.5rem;
  }
}

@media (width<720px) {
  .footer-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    gap: 2.8rem;
  }
}

@media (width<660px) {
  .footer-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 2.8rem;
  }
}

@media (width<400px) {
  .footer-left h3 {
    font-size: 18px;
  }
  .footer-left p {
    font-size: 16px;
  }
  .footer-middle-div h3 {
    font-size: 17px;
  }
  .footer-middle-div div {
    font-size: 13px;
  }
  .footer-right h3 {
    font-size: 18px;
  }
  .footer-right input {
    font-size: 16px;
    padding: 9px;
    border: none;
    outline: none;
  }
  ::placeholder {
    color: grey;
    font-size: 15px;
    padding-left: 3px;
  }
  .footer-right a {
    text-decoration: none;
    font-size: 16px;
    background: coral;
    text-align: center;
    padding: 9px;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
}

@media (width<290px) {
  .footer-left h3 {
    font-size: 16px;
  }
  .footer-left p {
    font-size: 14px;
  }
  .footer-middle-div h3 {
    font-size: 15px;
  }
  .footer-middle-div div {
    font-size: 11px;
  }
  .footer-right h3 {
    font-size: 16px;
  }
  .footer-right input {
    font-size: 14px;
  }
  .footer-right a {
    text-decoration: none;
    font-size: 14px;
  }
  .footer{
  }
}
