body {
    background-color: white;
}

hr {
    /*background-color: grey;*/
    border-color: grey; 
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 10%;
}

h1, h2 {
    color: darkblue;
}

img {
    width: 160px;
    height: 160px;
}

