*{
    margin: 0;
}

.navbar{
    display: flex;
}

.logo{
    display: flex;
}

.logo img{
    width: 50px;
    height: 40px;
}

.text_links{
    display: flex;
}

.text_links li{
    list-style: none;
}

.text_links li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.signup_links{
    display: flex;
}

.sign_in{
    display: flex;
}

.sign_in img{
    width: 40px;
    height: 40px;
}

.rewards_in{
    display: flex;
}

.rewards_in img{
    width: 40px;
    height: 40px;
}