*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after{
   box-sizing: inherit;
}

.container{
  background-color: darkgoldenrod;
  width: 575px;
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 150px;
  height: 270px;
}

.keys{
  background: black;
  position: relative;
  top: 70px;
  overflow: hidden;
  padding-left: 2px;
  border-radius: 10px;
  height: 170px;
  margin-left: 20px;
  margin-right: 20px;
}

.key{
  background: white;
  height: 170px;
  width: 40px;
  margin-left: 2px;
  border: 1px solid black;
  float: left;
  border-radius: 6px;
  position: relative;
}


.key.black-key::after{
  background: black;
  width: 30px;
  content: " ";
  height: 90px;
  left: -17px;
  position: absolute;
}
