* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-position: center;
  background-size: cover;
  height: 124px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 35px;
  padding-right: 35px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.profile h3{
  font-size: 25px;
}

.profile img {
  background: coral;
  border: 3.5px solid white;
  border-radius: 40px;
}

.profile p{
  margin-top: 2px;
  font-weight: 400;
}

.buyCoffee-div {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-top: 20px;
  background: #F8F9FA;
  border: 1px solid black;
  padding: 12px;
  border-radius: 8px;
}

.buyCoffee-div div {
  background: #3A86FF;
  border-radius:80px;
  padding: 11px;
  font-size: 15px;
}

.buyCoffee-div div  a{
  color: white;
  text-decoration: none;
}

.buyCoffee-div div:hover{
  background: #CFBAF0; 
}

.buyCoffee-div div a:hover{
  color: black;
}

.buyCoffee-div img {
  border-radius: 40px;
  background: red;
}

.message-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  font-size: 18px;
  padding: 10px;
  background: #E5E5E5;
}

textarea{
  font-size: 18px;
  padding: 10px;
  background: #E5E5E5;
}

::placeholder{
  color: black;
  font-weight: 200;
  font-family: sans-serif;
}

button {
  font-size: 20px;
  background: #3A86FF;
  color: white;
  padding: 10px;
  border-radius: 40px;
}

.ownerName{
  color: grey;
}

#suppName {
  color: black;
  font-size: 15px;
  margin-top: 2px;
  margin-left: -20px;
}

#suppMessage {
  color: brown;
  margin-left: 48px;
  margin-top: -32px;
  font-size: 18px;
}

.supporter h1{
  font-size: 23px;
}

.supporter-div {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}

.supporter-div p {
  font-size: 20px;
}

.supporter-div img {
  border-radius: 40px;
}

.supporter h4 {
  font-size: 20px;
  padding: 10px;
}

#message{
  height: 90px;
}

#error{
  color: red;
}

.bioData p{
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 20px;
  color: grey;
}

@media(width>600px){
  .container{
    height: 140px;
  }
  .profile img {
    width: 89px;
    height: 90px;
}
}

@media(width<323px){
  .main{
    padding-left: 40px;
    padding-right: 40px;
  }
  .profile h3{
  font-size: 23px;
}
.buyCoffee-div div {
  font-size: 13px;
}
input {
  font-size: 16px;
}
textarea{
  font-size: 16px;
}
button {
  font-size: 18px;
}
#suppName {
  font-size: 15px;
}
.supporter h1{
  font-size: 21px;
}
.supporter-div p {
  font-size: 18px;
}
.supporter h4 {
  padding: 8px;
}
.bioData p{
  font-size: 18px;
}
}
@media(width<312px){
  .profile h3{
  font-size: 21px;
}
.buyCoffee-div div {
  font-size: 11px;
}
input {
  font-size: 14px;
}
textarea{
  font-size: 14px;
}
button {
  font-size: 16px;
}
#suppName {
  font-size: 13px;
}
.supporter h1{
  font-size: 19px;
}
.supporter-div p {
  font-size: 16px;
}
.supporter h4 {
  padding: 6px;
}
.bioData p{
  font-size: 16px;
}
}

@media(width<300px){
  .profile h3{
  font-size: 19px;
}
.buyCoffee-div div {
  font-size: 9px;
}
input {
  font-size: 13px;
}
textarea{
  font-size: 14px;
}
button {
  font-size: 14px;
}
#suppName {
  font-size: 13px;
}
.supporter h1{
  font-size: 17px;
}
.supporter-div p {
  font-size: 14px;
}
.supporter h4 {
  padding: 5px;
}
.bioData p{
  font-size: 14px;
}
}

@media(width<283px){
  .profile h3{
  font-size: 18px;
}
  .buyCoffee-div img{
    width: 28px;
    height: 32px;
  }
.buyCoffee-div div {
  font-size: 8px;
}
input {
  font-size: 10px;
}
textarea{
  font-size: 12px;
}
button {
  font-size: 13px;
}
#suppName {
  font-size: 12px;
}
.supporter h1{
  font-size: 16px;
}
.supporter-div p {
  font-size: 13px;
}
.supporter h4 {
  padding: 5px;
}
.bioData p{
  font-size: 13px;
}
}
