*{
    margin: 0;
    padding: 0;
}

.navBar{
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    background-color: #030510;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.navBar-left-img{
    display: flex;
}

.navBar-left-img img{
    width: 117px;
    height: 50px;
}

.navBar-left-img h5{
    font-size: 17px;
    margin-top: 13px;
    color: white;
}

.navBar-left{
    display: flex;
    /*background-color: coral;*/
    align-items: center;
    gap: 10px;
}

.navBar-left-location{
    display: flex;
    align-items: center;
}

.navBar-left-location span{
    color: white;
}

.navBar-left-location h4{
    font-size: 15px;
    color: white;
}

.navBar-left-address h5{
    font-size: 13px;
    color: #D2D2C6;
    padding-left: 18px;
}

.navBar-middle{
    display: flex;
    /*background-color: tomato;*/
    height: 40px;
    margin-top: 5px;
}

.navBar-middle-all{
    display: flex;
}

.navBar-right{
    display: flex;
    gap: 9px;
    /*background-color: aqua;*/
    align-items: center;
}

.navBar-right-country{
    display: flex;
    align-items: center;
}

.navBar-right-account{
    display: flex;
    align-items: center;
}

.navBar-right-cart{
    display: flex;
    align-items: center;
}

.navBar-right-cart img{
    border-radius: 50px;
}

.navBar-right-cart h5{
    padding-left: 5px;
    font-size: 16px;
    color: white;
    margin-top: 15px;
}

.navBar-right-country img{
    width: 20px;
    height: 15px;
}

.navBar-right-country span{
    color: silver;
}

.navBar-right-country h4{
    padding-left: 3.5px;
    color: white;
    font-size: 12px;
}

.orders{
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.navBar-right-exchange, .return{
    color: white;
    font-weight: 200;
}

.account{
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.signIn{
    color: white;
    font-weight: 200;
}

.navBar-right-account span{
    color: silver;
}

.navBar-middle{
    background-color: white;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
}

.navBar-middle-all{
    background-color: #EDEDE9;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border-radius: 8px 0px 0px 8px;
}

.navBar-middle-all span{
    margin: 7.5px;
    margin-left: -1px;
}

.navBar-middle-search{
    background-color: #F2D492;
    width: 60px;
    display: flex;
    justify-content: center; 
    border-radius: 0px 8px 8px 0px;
}

.search-icon{
    margin: 7.5px;
}

.navBar-middle-input input{
    font-size: 13px;
    border: none;
    outline: none;
}

::placeholder{
    font-size: 16px;
}

.list-div-flex{
    display: flex;
    align-items: center;
    gap: 20px;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202C39;
    color: white;
    font-weight: 200;
    padding-left: 10px;
}

.list-div{
    display: flex;
    align-items: center;
}

.list-div2{
    display: flex;
    gap: 20px;
}

.list-div2 h5{
    font-size: 13.5px;
}

.backGd-img{
    background-image: url("https://m.media-amazon.com/images/G/31/img21/OHL/Deals/Rec/Hero/PC_slider._SX3000_QL85_.jpg");
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: center;
}

.backGd-img-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.backGd-img-icon span{
    font-size: 50px;
    font-weight: 100;
    color: #ADB5BD;
    padding-left: 30px;
    padding-right: 15px;
}

.product-flex{
    background-color: white;
    display: flex;
    width: max-content;
    padding: 15px;
    padding-bottom: 0;
    margin-top: -20px;

}

.product{
    background-color: white;
    width: max-content;
    margin-top: -20px;
    box-shadow: 20rgba(50, 2050, 2093, 200.25)200px 206px 2012px 20-2px, 20rgba(0, 200, 200, 200.3) 200px 203px 207px 20-3px;
}

.all-product{
    display: flex;
    justify-content: space-evenly;
    background-color: #EDEDE9;
}

.product-list img{
    width: 145px;
}

.product-list{
    margin: 6px;
    margin-top: 20px;
}

figcaption{
    font-size: 15px;
    margin-top: -2px;
    margin-bottom: 22px;
}

.product h3{
    padding-left: 22px;
    font-size: 24px;
    padding-top: 26px;
}

.list2{
    margin-bottom: 30px;
}