*{
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
  animation: shakebody linear 6s infinite;
}

.sky{
  background-image: url("https://sachinbhujel.gitlab.io/assets/carAminated/background.jpg");
  width: 100%;
  height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
}

.trees{
  background-image: url("https://sachinbhujel.gitlab.io/assets/carAminated/trees.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
  top: -140px;
}

.track{
  background-image: url("https://sachinbhujel.gitlab.io/assets/carAminated/track.png");
  width: 800vw;
  height: 61vh;
  position: absolute;
  background-size: cover;
  top: 70vh;
  background-repeat: repeat-x;
  animation: moveCar linear 13s infinite;
}

.car{
  background-image: url("https://sachinbhujel.gitlab.io/assets/carAminated/car_body.png");
  height: 100px;
  width: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  top: 464px;
  left: 120px;
  animation: shakeCar linear .3s infinite;
}

.wheel1 img{
    width: 77px;
    position: relative;
    top: 37px;
    left: 36px;
    animation: wheelRotate linear .25s infinite; 
}

.wheel2 img{
    width: 77px;
    position: relative;
    top: -45px;
    left: 214px;
    animation: wheelRotate linear .25s infinite;
}

@keyframes wheelRotate{
  100%{
    transform: rotate(360deg);
  }
}

@keyframes moveCar{
  100%{
      transform: translateX(-550vw);
    }
}

@keyframes shakebody{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-50px);
    }
}

@keyframes shakeCar{
    0%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(1px);
    }
    100%{
        transform: translateY(-2px);
    }
}

@media(width<400px){
  .car{
    left: 0;
    width: 250px;
    height: 70px;
  }
  .wheel1 img{
    width: 55px;
    left: 27px;
    top: 26px;
  }
  .wheel2 img{
    width: 50px;
    left: 155px;
    top: -33px;
  }
}
