.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  /*background: #000814;*/
  background-image: url("https://cdn.pixabay.com/photo/2016/09/07/15/48/sunset-1651878_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: 20px;
}

body{
  background: #F8F9FA;
  padding: 10px 10px;
}

.main h1{
  font-size: 36px;
  color: white;
}

.age_info{
  display: flex;
  flex-direction: column;
}

.age_info button{
  font-size: 16px;
  margin-top: 25px;
  background: #00171F;
  padding: 8px;
  color: white;
}

.box_age h4{
  font-size: 21px;
  color: white;
}

.box_age input{
  margin-top: -10px;
  font-weight: 500;
  font-size: 15px;
}

#total{
  color: #F4F3EE;
  font-size: 22px;
  padding: 10px;
}

::placeholder{
  color: grey;
  font-family: sans-serif;
  font-weight: 400;
}

@media(width<400px){
  #total{
    font-size: 18px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}
