*{
  margin: 0;
  font-family: Sans-Serif;
}

.header{
  height: 40px;
  color: grey;
  align-items: center;
  background: linen;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header-right{
  display: flex;
  align-items: center;
}

.header-right img{
  border-radius: 99px;
}

.logo{
  margin-left: 10px;
  font-size: 30px;
}

.header-middle a{
  color: grey;
  text-decoration: none;
  font-size: 17px;
  padding-right: 14px;
  padding-left: 14px;
}

.header-middle a:hover{
  color: #000000;
}

.middle button{
  margin-top: 20px;
}

.middle{
  text-align: center;
  margin-top: 80px;
}

.middle h2{
  font-size: 40px;
}

.middle p{
  margin-top: 20px;
}

.btn{
  background: midnightblue;
  color: white;
  font-size: 14px;
  border-radius: 9px;
  width: 140px;
  height: 50px;
  border: none;
}

.btn2{
  background: midnightblue;
  color: white;
  font-size: 11px;
  border-radius: 6px;
  width: 110px;
  height: 30px;
  border: none;
}

.lower{
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 70px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}


.box{
  transition: transform 0.4s;
  text-align: center;
}

.box img{
  border-radius: 4px;
  width: 210px;
  height: 150px;
}

.box h5{
  margin-top: 10px;
}

.btn3{
  background: moccasin;
  color: black;
  margin-right: 8px;
  font-size: 11px;
  border-radius: 6px;
  width: 60px;
  height: 30px;
  border: none;
}

.btn3:hover{
  background: white;
  border: 1px solid black;
  color: black;
}

.btn2:hover{
  background: black;
  color: white;
}

.btn:hover{
  background-color: bisque;
  color: black;
  border: 1px solid white;
}

.box:hover{
    transform: translateY(-18px);
}

.btn4{
  border: 1px solid black;
  background: black;
  color: white;
  margin-top: 10px;
  margin-right: 8px;
  font-size: 13px;
  border-radius: 6px;
  width: 120px;
  height: 30px;
}

.btn4:hover{
  background: white;
  color: black;
}

@media(width<400px){
  .header-right img{
    width: 20px;
  }
  .header-right h3{
    font-size: 17px;
  }
  .header-middle a{
   font-size: 13px 
  }
  .btn3{
    font-size: 10px;
    width: 48px;
  }
  .btn2{
    display: none;
  }
  .lower{
    display: grid;
  }
  .box{
    margin-top: 40px;
  }
  .box:hover{
    transform: translateX(18px);
  }
}
