*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  overflow: hidden;
  background: #E5E5E5;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main{
  padding: 10px;
  background-color: #001D3D;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main h2{
  font-size: 26px;
  color: #D8D8D8;
  margin-bottom: 15px;
}

.example{
  color: grey;
  font-weight: 800;
  font-size: 19px;
}

.note{
  color: #D00000;
  font-weight: 600;
  margin-top: 20px;
  font-size: 19px;
}

.main p{
  color: white;
  margin-top: 10px;
  font-weight: 100;
}

.btn{
  margin-top: 32px;
  text-align: center;
  background: white;
  font-size: 17px;
  padding: 10px;
  color: black;
  width: 100%;
}

.input{
  display: none;
  background: #F4F3EE;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 30px;
  width: 300px;
}

.input h1{
  margin-bottom: 25px;
  text-align: center;
}

#answer{
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
  font-weight: 450;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 75px;
}

.input input{
  font-size: 20px;
  outline: none;
  padding-left: 6px;
  padding: 5px;
  color: grey;
  width: 200px;
  margin: auto;
}

::placeholder{
  padding-left: 4px;
  font-size: 17px;
}

.btn2{
  color: black;
  background: white;
  font-size: 14px;
  padding: 7px;
  border-radius: 7px;
}

.btn1{
  color: white;
  background: black;
  font-size: 14px;
  padding: 7px;
  border-radius: 7px;
}
