* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 360px;
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}


.main_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 6px;
}

.main_middle {
  display: flex;
  justify-content: center;
}

.main_middle img {
  width: 200px;
  mix-blend-mode: multiply;
}

.main_middle img:hover{
  transform: scale(1.2);
}

.shoes2{
  display: none;
}

.main_lower {
  padding-left: 15px;
  padding-right: 15px;
}

.main_lower h2 {
  font-weight: 800;
}

.stars,
.bx bxs-star {
  margin-top: 10px;
  font-size: 17px;
}

.product_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
}

.product_color {
  display: flex;
  align-items: center;
  gap: 7px;
}

.color1 {
  background: #4CC9F0;
  border-radius: 99px;
  padding: 8px;
    cursor: pointer;
}

.color1:hover{
  padding: 9px;
  transition: 0.7s;
    cursor: pointer;
}

.color2 {
  background: black;
  border-radius: 99px;
  padding: 8px;
  cursor: pointer;
}


.color2:hover{
    padding: 9px;
  cursor: pointer;
  transition: 0.7s;
}

.product_color h3{
  font-size: 20px;
  font-weight: 600;
}

.price p{
  font-size: 30px;
  color: grey;
}

.button{
  margin-bottom: 25px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.button button{
  cursor: pointer;
  padding: 10px;
  border-radius: 99px;
  width: 90%;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  background-image: linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
}

.showCart_div{
  display: none;
  background: white;
  padding: 20px;
  border-radius: 15px;
  transition: 4s;
}

.showCart_div h2{
  font-size: 20px;
}

.showCart_div p{
  margin-top: 3px;
  color: green;
  margin-bottom: 30px;
}

.buttons{
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  margin-bottom: 13px;
}

.buttons button{
  width: 100px;
  padding: 8px;
  font-size: 16px;
  color: white;
  background: black;
  border-radius: 8px;
}

button.active{
  background: #FFC300;
}

@media(width<300px){
 .main_middle img {
  width: 180px;
}
  .main_lower h2 {
  font-weight: 800;
    font-size: 19px;
}
  .main_lower p{
    color: black;
  }
  .stars,
.bx bxs-star {
  font-size: 15px;
}
.product_color {
}
.color1 {
  padding: 7px
} 
.color2 {
  padding: 7px
}
.product_color h3{
  font-size: 18px;
}
.price p{
  font-size: 21px;
}
.button button{
  font-size: 16px;
}
}

@media(width<270px){
 .main_middle img {
  width: 170px;
}
  .main_lower h2 {
  font-weight: 800;
    font-size: 18px;
}
  .main_lower p{
    color: black;
  }
  .stars,
.bx bxs-star {
  font-size: 14px;
}
.product_color {
}
.color1 {
  padding: 7px;
} 
.color2 {
  padding: 7px;
}
.product_color h3{
  font-size: 16px;
}
.price p{
  font-size: 17px;
}
.button button{
  font-size: 15px;
}
}

@media(width<257px){
 .main_middle img {
  width: 170px;
}
  .main_lower h2 {
  font-weight: 800;
    font-size: 18px;
}
  .main_lower p{
    color: black;
  }
  .stars,
.bx bxs-star {
  font-size: 14px;
}
.product_color {
}
.color1 {
  padding: 6px;
} 
.color2 {
  padding: 6px;
}
.product_color h3{
  font-size: 15px;
}
.price p{
  font-size: 14px;
}
.button button{
  font-size: 15px;
}
}

@media(width<245px){
 .main_middle img {
  width: 170px;
}
  .main_lower h2 {
  font-weight: 800;
    font-size: 18px;
}
  .main_lower p{
    color: black;
  }
  .stars,
.bx bxs-star {
  font-size: 14px;
}
.product_color {
}
.color1 {
  padding: 6px;
} 
.color2 {
  padding: 6px;
}
.product_color h3{
  font-size: 15px;
}
.price p{
  font-size: 12px;
}
.button button{
  font-size: 15px;
}
  .price_in_alpha p{
    font-size: 13px;
  }
}

#errorShow{
  display: none;
  text-shadow: 1px 1px;
  color: white;
  text-align: center;
}
  
