*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    padding: 6px;
}

.left img{
    background-color: black;
    width: 140px;
    height: 32px;
}

.middle{
    margin-left: 180px;
}

.middle input{
    width: 320%;
    height: 35px;
    font-size: 17px;
}


.right img{
    margin-left: 580px;
    border-radius: 10%;
}

.middleOne{
    display: flex;
}
