* {
  margin: 0;
  padding: 0;
}

.main_body {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}

.main_body_left {
  margin-right: 20px;
}

.main_body_left h1 {
  width: 89%;
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  line-height: 1.4;
  letter-spacing: normal;
  font-weight: normal;
  margin-bottom: 16px;
}

.main_body_left p {
  width: 58%;
  color: rgb(57, 66, 78);
  font-size: 17px;
}

.checkl_info1 {
  margin-top: 40px;
}

.check_info {
  display: flex;
  gap: 20px;
}

.checkl_info2 {
  margin-top: 20px;
}

.checkl_info3 {
  margin-top: 20px;
  margin-bottom: 50px;
}

#love_supp {
  margin-bottom: 40px;
}

.main_body_left_img {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.main_body_right {
  padding: 12px;
  margin-right: 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.main_body_right h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.main_body_right p {
  color: rgb(57, 66, 78);
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

.input_div label {
  margin-top: 27px;
  font-size: 20px;
  margin-bottom: 10px;
}

.input_div input {
  font-size: 18px;
  outline: none;
  padding: 10px;
}

.input_div button {
  font-weight: 580;
  text-align: center;
  border-radius: 5px;
  background: green;
  font-size: 18px;
  padding: 10px;
  color: white;
  margin-top: 34px;
}

.requestForm {
  display: none;
  flex-direction: column;
}

@media (width>850px) {
  .main_body_right {
    height: 480px;
    padding: 20px;
  }
}

@media (width<850px) {
  .main_body {
    display: block;
  }
  .main_body_left p {
    width: 92%;
  }
  .main_body_left h1 {
    width: 100%;
  }
  .main_body {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
  }
  .main_body_right {
    margin-top: 80px;
    margin-bottom: 20px;
  }
}

#btn_2_click {
  display: none;
}

/* CSS FOR THANK YOU MESSAGE */
#thankYouMessage {
  text-align: center;
  margin-top: 100px;
  display: none;
}

#thankYouMessage {
  margin-top: 40px;
  font-size: 21px;
  color: green;
  font-family: sans-serif;
}

/* CSS FOR NAVBAR */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navBar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 13px;
  padding-right: 10px;
  position: relative;
}

.navBar h3 {
  font-size: 22px;
}

.navBar_title {
  margin: 0;
  display: flex;
  transition: transform 0.3s ease;
}

.green_color {
  border-right: 14px solid #80ed99;
  height: 26px;
}

#menu_icon {
  margin-top: -4px;
  margin-right: -3px;
  font-size: 36px;
  color: #8d99ae;
}

.menu_icon,
.cross_icon {
  cursor: pointer;
}

.menu_icon,
.cross_icon {
  transition: transform 0.3s ease;
}
