*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-color: #FDFDFD;
}

.header{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.header-right{
  display: flex;
  align-items: center;
}

.header-middle a{
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  text-decoration: none;
}

.header-middle a:hover{
  color: orange;
}

.btn{
  width: 80px;
  background: white;
  font-size: 13px;
  padding: 10px;
  height: 40px;
  border: 1px solid black;
  color: black;
}

.btn:hover{
  font-weight: 600;
  color: white;
  border: none;
  background: coral;
}

.middle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 150px;
  margin: 100px auto;
}

.middle-left h1{
  text-transform: uppercase;
  font-size: 30px;
}

.middle-left-info{
  margin-top: 18px;
  align-items: center;
  display: flex;
}

.middle-left-info p{
  font-size: 17px;
  color: grey;
  margin-left: 15px;
}

hr{
  height: 58px;
  color: black;
  font-weight: 300;
}

.button{
  margin-top: 15px;
}

.btn2{
  margin-left: 20px;
  width: 110px;
  background: white;
  font-size: 13px;
  padding: 10px;
  height: 40px;
  border: 1px solid black;
  color: black;
}

.btn2:hover{
  font-weight: 600;
  color: white;
  border: none;
  background: black;
}

.btn3{
  width: 110px;
  background: #FF7A00;
  font-size: 13px;
  padding: 10px;
  height: 40px;
  border: 1px solid black;
  color: white;
}

.middle-right img{
  width: 130%;
}

.lower{
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
}

.photo img{
  width: 90%;
  height: 60%;
}

.btn4{
  margin-top: 15px;
  width: 130px;
  background: black;
  font-size: 13px;
  padding: 10px;
  height: 40px;
  border: 1px solid black;
  color: white;
}

.btn4:hover{
  color: black;
  background: white;
}

.about{
  margin-left: 25px;
}

.about p{
  font-size: 15px;
  color: grey;
}

.about h1{
  margin-top: 15px;
}

.lower-lower{
  padding-left: 50px;
  padding-right: 50px;
  height: 30vw;
  display: flex;
  align-items: center;
  background: #F1EEEE;
  justify-content: space-between;
}

.box{
  background: white;
  border: 1px black solid;
  padding: 20px;
  transition: transform 0.4s;
}

.box:hover{
  transform: translateY(10px);
}

.box p{
  margin-top: 10px;
  color: grey;
}

.box1{
  margin-left: 20px;
}

.box h1{
  color: black;
  font-size: 32px;
  text-transform: uppercase;
}

.box1 img{
  border-radius: 50%;
}

.box1 h1{
  font-size: 22px;
}

.box1 p{
  margin-top: 10px;
  color: grey;
  font-size: 15px;
}



@media(width<400px){
  .header-middle{
    display: flex;
  }
  .header-right img{
    width: 35px;
    margin-left: -7px;
  }
  .header-right h3{
    font-size: 13px;
  }
  .header-middle a{
    font-weight: 200;
    padding: 6.3px;
    font-size: 14px;
  }
  .btn{
    font-weight: 800;
    margin-left: 2px;
    border-radius: 2px;
    font-size: 10px;
    width: 62px;
    height: 30px;
  }
  .middle{
    margin-top: 70px;
    display: flex;
  }
  .middle-left h1{
    font-size: 18px;
  }
  .middle-left-info p{
    font-size: 17px;
  }
  .button{
    display: flex;
  }
  .middle-right{
  }
  .about h1{
    font-size: 20px;
  }
  .about p{
    font-size: 13px;
  }
  .photo img:hover{
    transform: translateY(-4px);
    height: 60vw;
    width: 97%;
  }
  .lower-lower{
    height: 260vw;
    display: grid;
    margin-top: 120px;
  }
  .box{
    transition: transform 0.4s;
    margin-left: -4px;
    width: 250px;
    margin: auto;
    height: 160px;
  }
  .box h1{
    font-size: 30px;
  }
  .box p{
    font-size: 16px;
  }
  .box:hover{
   background: #FBFCFC;
   transform: translateY(-8px);
  }
  .box2{
    width: 120%;
    margin-left: -20px;
  }
}



@media(width>800px){
  .lower-lower{
    height: 35vw;
  }
  .box{
    font-size: 12px;
  }
  .box1 p{
    font-size: 14px;
  }
  .box2 {
    height: 28vw;
    font-size: 20px;
  }
  .box h1{
    font-size: 20px;
  }
}
