*{
  margin: 0;
}

body{
  background: black;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  color: black;
}

.child{
  text-align: center;
  background: white;
  width: 60%;
  padding: 40px;
}

.child h1{
  font-size: 45px;
}

.child p{
  font-size: 40px;
  color: green;
}

.btnDiv{
  padding-top: 15px;
}

.btnDiv button{
  font-size: 20px;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 5px 20px;
}

@media(width<400px){
  .child h1{
    font-size: 30px;
  }
  .btnDiv button{
  font-size: 14px;
  border-radius: 10px;
  padding: 6px 13px;
  }
}

@media(width<250px){
  .child h1{
    font-size: 25px;
  }
  .btnDiv button{
  font-size: 13px;
  border-radius: 10px;
  padding: 5px 9px;
  }
}
