*{
  margin: 0;
}

/* CSS FOR NAVBAR */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar h1{
  cursor: pointer;
  color: white;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 28px;
}

#js_title{
  font-weight: 500;
  font-size: 34px;
  color: yellow;
}

.navbar_right{
  display: flex;
  gap: 25px;
}

.navbar_right a{
  cursor: pointer;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
  transition: .3s ease-in-out;
  text-decoration: none;
}

.navbar_right a:hover{
  color: yellow;
}

#menu{
  font-size: 37px;
  display: none;
  color: white;
}

@media(width<600px){
  .navbar_right{
    display: none;
  }
  #menu{
    display: block;
  }
}

/* CSS FOR SIDE NAVBAR */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 16%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 28px;
  margin-top: 12px;
  color: #818181;
  display: block;
  font-family: sans-serif;
  transition: 0.3s;
}

.overlay a:hover{
  color: yellow;
}

.overlay .closebtn {
  position: absolute;
  top: -21px;
  right: 16px;
  font-size: 50px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


/* CSS FOR ABOUT */
.about{
  padding-left: 18px;
  padding-right: 18px;
}

.about h1{
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-top: 40px;
  line-height: 2.5rem;
}

.about p{
  font-size: 1.125rem;
  font-family: sans-serif;
  margin-top: 20px;
  color: rgb(55, 65, 81);
  line-height: 28px; 
}


/* CSS FOR FOOTER */
footer{
  background: black;
  padding: 20px;
  text-align: center;
  margin-top: 180px;
}

footer p{
  color: white;
  font-size: 17px;
  font-family: sans-serif;
}

#js_footer{
  color: yellow;
}

#html_css{
  font-weight: 600;
  color: rgb(5, 71, 163);
}

.social_icons{
  display: flex;
  gap: 15px;
  margin-top: 30px;
  padding-left: 20px;
}

@media(width>500px){
  footer{
    display: none;
  }
}
