* {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}

body {
  background: black;
}

.search-input {
  border: 1px solid black;
  width: 85vw;
  margin: 10px auto;
  justify-content: space-between;
  border-radius: 999px;
  padding: 10px;
  color: white;
  align-items: center;
  display: flex;
  background: #303030;
  height: 8vw;
}

.search-input input {
  border: none;
  color: white;
  font-size: 15px;
  background: #303030;
  outline: none;
  height: 8vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input img {
  border-radius: 50%;
}

::placeholder {
  font-size: 18px;
  color: grey;
  font-weight: 20%;
}

.email {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.star {
  margin-left: 8px;
}

.section p {
  font-size: 12px;
  margin-top: 20px;
  margin-left: 8px;
  color: white;
}

.email-body {
  color: grey;
  font-size: 12px;
}

.logo img {
  border-radius: 99%;
}

.email-date {
  color: grey;
  padding-right: 10px;
}

.email-date h3 {
  font-size: 12px;
}
