*{
    margin: 0;
    padding: 0;
}

.navBar{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 20px;
}

.navBar-left{
  display: flex;  
  align-items: center;
}

.navBar-left-logo{
    display: flex;
    align-items: center;
}

.navBar-left-logo p{
    font-size: 9px;
    font-weight: 600;
    color: grey;
    margin-top: -20px;
    margin-left: -10px;
}

.navBar-middle{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navBar-middle-input{
    display: flex;
    align-items: center;
    width: 400px;
    gap: 10px;
    border-radius: 20px;
    border: 0.8px solid grey;
}

::placeholder{
    font-size: 14px;
    padding-left: 7px;
}

.search{
    background-color: #EBEBEB;
    font-size: 30px! important;
    padding: 6px;
    border-radius: 0px 20px 20px 0px;
}

.navBar-middle-input input{
    width: 360px;
    border: none;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
}

.navBar-middle-mic{
    display: flex;
    align-items: center;
    background-color: #EBEBEB;
    border-radius: 50px;
}

.mic{
    font-size: 25px! important;
    padding: 10px;
}

.navBar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.middle{
    margin-left: 25px;
}

.middle-left-info{
    display: flex;
    align-items: center;
    gap: 22px;
    margin-bottom: 20px;
}

.middle-left-info p{
    font-size: 16px;
}

.middle-left-info span{
    font-size: 26px;    
}

.middle-left-middle-You{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.middle-left-middle-You p{
   font-size: 20px;
   font-weight: 600; 
}

hr{
    margin-bottom: 20px;
}

.watch-later{
    padding: 10px 45px 10px 20px;
    background-color: silver;
    border-radius: 8px;
    width: max-content;
    margin-left: -20px;
    margin-top: -5px;
    margin-bottom: 7px;
}

.watch-later p{
    font-weight: 600;
}

.middle-left-lower-channel{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}

.middle-left-lower-channel img{
    border-radius: 99px;
}

.middle-left-lower h4{
    font-size: 19px;
}

.middle-left-lower img{
    width: 20px;
    height: 24px;
}

.channel-info{
    display: flex;
    gap: 24px;
    align-items: center;
}

.channel-info span{
    font-size: 8px;
    color: blue;
}