*{
    margin: 0;
    padding: 0;
}

/*body{
    background-color: #001219;
}*/

.navBar{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 20px;
}

.navBar-left{
  display: flex;  
  align-items: center;
}

.navBar-left-logo{
    display: flex;
    align-items: center;
}

.navBar-left-logo p{
    font-size: 9px;
    font-weight: 600;
    color: grey;
    margin-top: -20px;
    margin-left: -10px;
}

.navBar-middle{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navBar-middle-input{
    display: flex;
    align-items: center;
    width: 400px;
    gap: 10px;
    border-radius: 20px;
    border: 0.8px solid grey;
}

::placeholder{
    font-size: 14px;
    padding-left: 7px;
}

.search{
    background-color: #EBEBEB;
    font-size: 30px! important;
    padding: 6px;
    border-radius: 0px 20px 20px 0px;
}

.navBar-middle-input input{
    width: 360px;
    border: none;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
}

.navBar-middle-mic{
    display: flex;
    align-items: center;
    background-color: #EBEBEB;
    border-radius: 50px;
}

.mic{
    font-size: 25px! important;
    padding: 10px;
}

.navBar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.middle{
    margin-left: 25px;
    display: flex;
    gap: 41px;
    margin-top: 10px;
}

.middle-left-info{
    display: flex;
    align-items: center;
    gap: 22px;
    margin-bottom: 20px;
}

.middle-left-info p{
    font-size: 16px;
}

.middle-left-info span{
    font-size: 26px;    
}

.middle-left-middle-You{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.middle-left-middle-You p{
   font-size: 20px;
   font-weight: 600; 
}

hr{
    margin-bottom: 20px;
}

.watch-later{
    padding: 10px 45px 10px 20px;
    background-color: silver;
    border-radius: 8px;
    width: max-content;
    margin-left: -20px;
    margin-top: -5px;
    margin-bottom: 7px;
}

.watch-later p{
    font-weight: 600;
}

.middle-left-lower-channel{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}

.middle-left-lower-channel img{
    border-radius: 99px;
}

.middle-left-lower h4{
    font-size: 19px;
}

.middle-left-lower img{
    width: 20px;
    height: 24px;
}

.channel-info{
    display: flex;
    gap: 24px;
    align-items: center;
}

.channel-info span{
    font-size: 8px;
    color: blue;
}

.middle-middle{
    display: flex;
    gap: 15px;
}

.middle-middle-left{
    background-color: #669BBC;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOgwCwyT932BRuu5Ph_F4esbTErHXn2rDgAg&usqp=CAU");
    background-size: cover;
}

.middle-middle-left img{
    border-radius: 20px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.middle-middle-left h3{
    font-size: 23.4px;
    color: white;
    margin-bottom: 16px;
}

.middle-middle-left strong{
    color: white;
    font-weight: 800;
}

.middle-middle-left-info{
    display: flex;
    color: white;
    gap: 10px;
    font-size: 13px;
    margin-bottom: 14px;
}

.middle-middle-left-info p{
    font-family: 200;
    margin-top: 6px;
    color: #E9ECEF;
}

.arrow{
    font-size: 14px !important;
    padding: 9px;
    color: black !important;
}

.vert{
    font-size: 14px !important;
    padding: 9px;
    color: black !important;
}

.middle-middle-left-icons {
    display: flex;
    gap: 10px;
}

.middle-middle-left-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #E9ECEF;
    padding: 8px;
    border-radius: 25px;
    width: 41%;
}

.a strong{
    color: black;
}

.b{
    opacity: 0.5;
}

.middle-middle-right-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #E9ECEF;
    margin-left: 20px;
}

.middle-middle-right-top strong{
    font-size: 18px;
    font-weight: 200;
}

.cross{
}

.middle-middle-right-middle{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.sort-detail{
    display: flex;
    align-items: center;
    gap: 8px;
}

.details{
    display: flex;
    align-items: center;
    gap: 20px;
}

.detail-all{
    background: black;
    color: white;
}

.details div{
    padding: 10px;
    border-radius: 8px;
}

.detail-videos{
    background-color: #E9ECEF;
}

.detail-shorts{
    background-color: #E9ECEF;
}

.middle-middle-right-lower{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    margin-left: -10px;
}

.middle-middle-right-lower img{
    border-radius: 8px;
}

.videos-title{
    width: 100%;
    margin-top: -25px;
}

.videos-title strong{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.middle-middle-right{
    margin-right: 20px;
}

.videos-title p{
    font-size: 13px;
    color: grey;
    margin-top: 11px;
}
