*{
  margin: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header a{
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.header-right{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.header-right .apps{
  margin-right: 10px;
  font-size: 24px;
}

.middle{
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-top: 25%;
}

.middle h1{
  font-size: 80px;
  margin-top: -90px;
}

.search-input{
  border: 1px solid black;
  width: 75vw;
  justify-content: space-between;
  border-radius: 999px;
  padding: 10px;
  align-items: center;
  display: flex;
  height: 4vw;
}

.search-input input{
  width: 70vw;
  height: 4vw;
  border: none;
  font-size: 20px;
  outline: none;
}

.search-button{
  margin-top: 20px;
  text-align: center;
}

.search-button button{
  width: 20%;
  height: 46px;
  background: black;
  font-size: 15px;
  color: white;
  opacity: 0.6;
  border-radius: 10px;
}

.g{
  color: blue;
}

.l{
  color: green;
}

.r{
  color: red;
}

.y{
  color: yellow;
}

.lower{
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.lower a{
  margin-left: 10px;
  text-decoration: none;
}

.lower-div{
  background: black;
  height: 150px;
}

.country{
  font-size: 20px;
  opacity: 0.5;
  color: white;
  padding: 15px;
  margin-top: 80px;
}
