*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background: #171049;
}

.left{
  margin-left: 20px;
  margin-top: 40px;
  background: #171049;
  width: 60px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.left .icons{
  padding-top: 30px;
  color: white;
  font-size: 32px;
}

.main{
  background: #9A999E;
  margin: 50px auto;
  display: flex;
  height: 600px;
  justify-content: space-between;
}

.header{
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.header-left{
  color: white;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.title{
  margin-left: 5px;
}

.right{
  margin-top: 70px;
}

.header-right{
  padding-right: 20px;
}

.header-right .cart{
  color: white;
  padding: 7px;
  background: #171049;
  border-radius: 5px;
}

.header-right .login{
  padding: 7px;
  background: white;
  border-radius: 5px;
}

.box .add{
  background: #171049;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  font-size: 50px;
  padding: 10px;
  opacity: 1;
  margin-top: 40px;
}

.box{
  background: #A8ABCA;
  opacity: 0.5;
  width: 150px;
  height: 200px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.box p{
  font-weight: 700;
  color: black;
  margin-top: 8px;
}

.middle{
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.box img{
  width: 60px;
  height: 60px;
  border-radius: 99px;
  margin-top: 40px;
}

.box h3{
  margin-top: 10px;
}

.box p{
  font-size: 14px;
  color: white;
}

.box1{
  opacity: 0.8;
  background: #171049;
  width: 150px;
  height: 200px;
  border-radius: 10px;
  color: white;
  text-align: center;
}




