body{
  background-image: linear-gradient(to left, grey, lightblue);
}

.main{
  border-radius: 10px;
  background: white;
  width: 90%;
  height: 60vh;
  margin: 150px auto;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  color: grey;
}

hr{
  width: 95%;
  margin-top: -15px;
}

.body{
  text-align: center;
  margin-top: 40px;
}

.message .seen-message{
  font-size: 60px;
}

.info{
  margin-top: -14px;
}

.info p{
  color: dodgerblue;
  font-size: 19px;
}

.about p{
  color: silver;
  font-size: 17px;
}

.lower{
  display: flex;
  justify-content: center;
}

.btn{
  color: white;
  background: deepskyblue;
  width: 100px;
  font-size: 17px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0.3px 0.3px 0.3px 0.3px silver;
}

.btn2{
  color: royalblue;
  background: powderblue;
}



@media only screen and (width < 480px){
  .main{
    width: 85%;
    height: 100vw;
  }
  .btn{
    font-size: 11px;
    width: 70px;
    background-color: #303030;
    margin-top: 20px;
  }
  .info{
    margin-top: 11px;
  }
  .info p{
    font-size: 19px;
  }
  
  .about p{
    font-size: 15px;
  }
  .btn2{
    color: white;
    background-color: #162b52;
  }
}
