body{
  background: grey;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 540px;
}


.message{
  background: white;
  width: 400px;
  align-items: center;
  display: flex;
  height: 70px;
  margin-bottom: 20px;
}

.div1-left{
  display: flex;
  align-items: center;
  height: 70px;
  width: 70px;
  justify-content: center;
  background: red;
  
}

.div1-left .mail{
  font-size: 40px;
}

.div1-right{
  justify-content: space-between;
  display: flex;
  background: black;
  color: white;
  width: 85%;
  padding-left: 20px;
  
}

.div1-right p{
  font-size: 22px;
}

.div1-right .close{
  font-size: 20px;
}

.send{
  background: lightgreen;
}
