*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  background: #F8F9FA;
}

.container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top h2{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 28px;
}

.input_div{
  background: #F8F9FA;
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.input_div input{
  width: 200px;
  font-size: 16px;
  padding: 8px;
  outline: black;
}

.input_div button{
  background: black;
  font-size: 13px;
  color: white;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.lower{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.box{
  background: tomato;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.box_top{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.box_top h4{
  font-size: 25px;
  color: white;
}

.box_top .material-symbols-outlined{
  font-size: 14px;
  background: white;
  display: flex;
  align-items: center;
  padding: 5px;
}

/*.box_middle{
  text-align: center;
  color: #FFFFFF;
  margin-top: 5px;
  margin-left: -20px;
}*/

.box_lower{
  background: white;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-top: 19px;
}

#sendBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
